<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.matchstick.brightlife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".entities.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.LcLetterActivity"></activity>
        <activity android:name=".activities.RecommendationActivity" />
        <activity android:name=".activities.CvActivity" />
        <activity android:name=".activities.ResultSlipActivity" />
        <activity android:name=".activities.ApplicationSuccessActivity" />
        <activity android:name=".activities.SalesAgreementActivity" />
        <activity android:name=".activities.ConfirmApplicaitonActivity" />
        <activity android:name=".activities.DocumentActivity" />
        <activity android:name=".activities.NationalityActivity" />
        <activity android:name=".activities.NOKActivity" />
        <activity android:name=".activities.BioDataActivity" />
        <activity android:name=".activities.LeadDetailActivity" />
        <activity android:name=".activities.SaleListActivity" />
        <activity android:name=".activities.LeadListActivity" />
        <activity android:name=".activities.LeadActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RequirementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SelectActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PhoneAuthActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>